:root {
    --errBG: #f2dede;
    --errorText: #a94442;
}

body, html {
    margin: 1% 2%;
}

.line {
    border-bottom: 1px solid black;
    width: fit-content;
}
.alert {
    background-color: var(--errBG);
    color: var(--errorText);
}

.red {
    color: var(--errorText);
    text-decoration: none;
}

.resultSpinner {
    position: relative;
    top: 10px;
    left: 10px;
}